<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recuperar contraseña</title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <link rel="icon" href="../img/logo2.png">
        <link rel="stylesheet" href="../css/estilocont.css">
        <script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js "></script>
    </head>
    <body>

        <main>

            <div class="contenedor__todo" style="padding:15%" >
                <div class="caja__trasera">
                    <div class="caja__trasera-login">

                    </div>
                    <div class="caja__trasera-register">
                    </div>
                </div>


                <!--Formulario de Login y registro-->
                <div class="contenedor__login-register">
                    <!--Login-->
                    <form name="login" th:action="@{/enviaremail}" method="POST"> 
                        <table width="350" border="0"> 
                            <tr> 
                            <h2>Ingrese su correo</h2>

                            </tr> 
                            <tr> 
                                <td><span class="cnt"> 
                                        <input name="email" type="email" class="Input" value="" size="20" placeholder="Ingrese su correo" required /> 
                                    </span></td> <br></td></tr>

                            <th><span class="cnt"> 
                                    <button class="btn btn-primary btn-large" type="submit" style="background-color:rgba(126, 183, 216)";>Enviar</button></span></td> 
                                </tr>  
                        </table> 

                        <center> <p style="">Volver
                                <a th:href="index">
                                    Click Aquí
                                </a>
                            </p></center>
                    </form>
                    <!--Register-->
                    <form action="" class="formulario__register">

                    </form>
                </div>
            </div>

        </main>

        <script src="../js/script.js"></script>

    </body>
</html>